<h2>Highest Points Per Game</h2>
<div class='table'>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Name</th>
            <th scope='col'>Jersey Number</th>
            <th scope='col'>Salary</th>
            <th scope='col'>PPG</th>
            <th scope='col'>RPG</th>
            <th scope='col'>APG</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>{{ player.name }}</td>
            <td>{{ player.jersey_number }}</td>
            <td>{{ player.salary }}</td>
            <td>{{ player.ppg }}</td>
            <td>{{ player.rpg }}</td>
            <td>{{ player.apg }}</td>
        </tr>
    </tbody>
</div>