<div class='table'>
    <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Name</th>
            <th scope='col'>Jersey Number</th>
            <th scope='col'>Salary</th>
            <th scope='col'>PPG</th>
            <th scope='col'>RPG</th>
            <th scope='col'>APG</th>
            <th scope='col'>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor='let player of players; let i = index'>
            <td>{{ i + 1 }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.jersey_number }}</td>
            <td>{{ player.salary }}</td>
            <td>{{ player.ppg }}</td>
            <td>{{ player.rpg }}</td>
            <td>{{ player.apg }}</td>
            <td>
                <button class='btn btn-primary btn-sm mx-auto' routerLink="edit/{{ player._id }}">Edit</button>
                <button class='btn btn-danger btn-sm mx-auto' (click)='deleteData(player._id)'>Delete</button>
            </td>
        </tr>
    </tbody>
</div>